#root {
  font-family: 'Playfair Display', serif;
  padding: 10px;
  color: #ffffff;
}
body{
  background-color:#141414;

}

.header {
  display: flex; 
  align-items: center; 
  justify-content: space-between;
  padding-bottom: 3rem;

}
.title {
  display: inline;
  margin-right: 3em;
  font-size: 3rem;
  padding-bottom: 20px;
  color: #d40c0c;
  padding-left: 10px;
}
.search-select {
  display: flex;
  justify-content: space-around;
  align-content: center;
  column-gap: 10px;
}
.search-container {
  display: flex;
  margin: 1rem rem;
}

label[for="show-search-input"] {
color: #5e5a5a;
padding-right: 10px;
white-space: nowrap;

}
#show-search-input{
  flex: 1;
}

label.search-results-label {
  color: #5e5a5a;
  padding:5px;
  white-space: nowrap;
}
.search-label{
  padding-left: 1em;
  padding-right:4.5em ;
  font-size: 14px;
  color: #d4cfcf;
  white-space: nowrap;
}
#show-search-input, .episode-select , .show-select ,.search-input{
  border-radius: 7px;
  border-style: hidden;
  height: 25px;
  padding-left: 10px;
  width: 180px;;

}
.search-form{
  display: flex;
}
.show-search-container{
  display: flex;
  width: 90%;
    margin: 0 auto;
    display: flex;
    row-gap: 2rem;
}
.show-container{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

}
.show-details{
  display: grid;
  grid-template-columns: 70% 30%;
  column-gap: 4rem;
}
.image-summary{
  display: flex;
  column-gap: 1rem;
  
}
.episode-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
  padding: 3rem;
  color: #070606;
  margin-bottom: 100px; 
}

.episode-card {
  height: 450px;
  display: flex;
  flex-direction: column;
  background-color: rgb(33, 33, 35);
  box-shadow: 0px 0px 5px rgba(105, 108, 110, 0.1);
  border-radius: 8px;
}
.episode-title {
  width: 250px;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
  height: auto;
  border-radius: 3px;
  text-align: center;
  margin: 20px auto;
  padding: 0.2rem;
  background-color:rgb(42, 41, 41);
  color:#e5e5e5;
}

.episode-title-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}


.episode-image {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


.episode-summary {
  height: 200px;
  padding: 10px 20px;
  text-align: justify;
  overflow: hidden;
  font-size: 12px;
  color:#e5e5e5;
  font-family: 'Open Sans', sans-serif;
}



footer {
  bottom: 0;
  left: 0;
  width:100%;
  text-align: center;
  height: 100px;
  padding-top: 3em;
  margin: 0;
}

footer p , a {
  color: #5e5a5a;
  display: block;
  font-style: italic;
}