#root {
  color: rgb(11, 10, 10);
  background-color: rgb(30, 32, 44);
  font-family: 'Playfair Display', serif;
  padding: 10px;
  color: white;
}

.search-container{
  width: auto;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  margin:2rem 1rem;

}
.search-container,
.select-container {
  display: inline-block;
  margin-right: 20px;
}
.select-label{
  padding-right: 0.5rem;
}
.search-label{
  padding-left: 1em;
}

.episode-container {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  gap: 40px;
  padding: 3rem;
  color: #070606;
}

.episode-card {
  height: 450px;
  display: flex;
  flex-direction: column;
  background-color: rgb(99, 107, 147);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.episode-title {
  width: 300px;
  height: 70px;
  border: 1px solid #070606;
  border-radius: 5px;
  text-align: center;
  margin: 20px auto;
}

.episode-title-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}


.episode-image {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


.episode-summary {
  height: 200px;
  padding: 10px 20px;
  text-align: justify;
  overflow: hidden;
  font-size: 12px;
}

.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

footer{
  bottom: 0;
  width: 100%;
  background-color: #767b9b;
  text-align: center;
  width: auto;
  height: 100px;
  color: #070606;
  padding-top: 1em;
}
footer p a {
  color: #000;
  display: block;
  width: 100%;
  font-style: italic;
  
}