#root {
  color: rgb(11, 10, 10);
  background-color: rgb(88, 92, 111);
  font-family: 'Playfair Display', serif;
  padding: 10px;
  color: #ffffff;
}


.header {
  display: flex; /* Add flex display to the header */
  align-items: center; /* Align items vertically */
  justify-content: space-between;
  padding-bottom: 3rem;

}
.title {
  display: inline;
  margin-right: 3em;
  font-size: 3rem;
  padding-bottom: 20px;
  color: #0c0f1d;
  padding-left: 10px;
}
.search-select {
  display: flex;
  align-items: center;
  gap: 10px;
}
.search-container {
  display: flex;
  margin: 2rem 1rem;
}

.search-container,
.select-container {
  display: flex;
  margin-right: 20px;
}
.select-label{
  padding-right: 0.5rem;
}
.search-label{
  padding-left: 1em;
}

.episode-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding: 3rem;
  color: #070606;
  margin-bottom: 100px; /* Add margin to create space for the footer */
}

.episode-card {
  height: 450px;
  display: flex;
  flex-direction: column;
  background-color: rgb(197, 203, 233);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.episode-title {
  width: 300px;
  height: 70px;
  border: 1px solid #070606;
  border-radius: 5px;
  text-align: center;
  margin: 20px auto;
}

.episode-title-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}


.episode-image {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


.episode-summary {
  height: 200px;
  padding: 10px 20px;
  text-align: justify;
  overflow: hidden;
  font-size: 12px;
}



footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(197, 203, 233);
  text-align: center;
  height: 100px;
  color: #070606;
  padding-top: 3em;
}

footer p a {
  color: #000;
  display: block;
  width: 100%;
  font-style: italic;
  
}