#root {
  color: rgb(11, 10, 10);
  background-color: rgb(30, 32, 44);
  font-family: 'Playfair Display', serif;
  padding: 10px;
  color: white;
}
.episode-container {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  gap: 40px;
  padding: 3rem;
  color: #070606;
}

.episode-card {
  height: 450px;
  display: flex;
  flex-direction: column;
  background-color: rgb(99, 107, 147);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.episode-title {
  width: 300px;
  height: 70px;
  border: 1px solid #070606;
  border-radius: 5px;
  text-align: center;
  margin: 20px auto;
}

.episode-title-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}


.episode-image {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


.episode-summary {
  height: 200px;
  padding: 10px 20px;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  font-size: 12px;
}

footer{
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
}
